/*-------- Seção Contato -----------*/
#contato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    margin-top: 2.5rem;
    border-top: 1px solid var(--borda);
}

#contato > h1{
    font-family: var(--titulo);
    margin-bottom: 1rem;
    font-size: 30px;
}

#contato > p{
    font-size: 18px;
}

.link-cont{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.link-cont a {
    color: var(--branco);
    width: 8rem;
    height: 4rem;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0.5rem;
    border: 1px solid var(--borda);
    transition: 0.4s;
}

.link-cont a.what:hover{
    background-image: linear-gradient(to right, #075E54, #128C7E, #25D366);
    transform: translateY(-10px);
}

.link-cont a.inst:hover{
    background-image: linear-gradient(55deg, #FFD600, #FF7A00, #FF0069, #D300C5, #7638FA);
    transform: translateY(-10px);
}

.link-cont a.email:hover{
    background-image: linear-gradient(to bottom, #f00, #e21313, #e42222);
    transform: translateY(-10px);
}

.link-cont i{
    font-size: 3rem;
}

/*--------- Footer -----------*/

footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: var(--fundo);
    font-size: 14px;
}

.cont::before{
    content: "";
    position: absolute;
    width: 500px;
    height: 120px;
    left: 33%;
    bottom: -220%;
    background-color: var(--fundo2);
    filter: blur(150px);
    z-index: 0;
}