/*------- Seção Habilidades --------*/

#habilidades{
    padding: 20px 0;
}

#habilidades h1{
    font-family: var(--titulo);
    font-size: 35px;
    text-align: center;
}

#habilidades h1 > i{
    color: var(--letra);
    padding: 20px 10px 0;
}

.hab-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 50%;
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px 0;
    background-color: var(--fundo);
}

.hab-skill{
    text-align: center;
}

.hab-skill i{
    font-size: 130px;
}


.hab-skill p{
    font-size: 18px;
}
