@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


/*--------- CSS Global ---------*/

:root{
    /*paleta de cores*/

    --bg-color: #0D0D0D;
    --fundo: #2928407a;
    --fundo2: #3e3c73;
    --borda: #4E458C;
    --letra: #8449BF;
    --branco: #fff;

    /*Degráde*/
    --cor1: #7936B7;
    --cor2: #A22895;
    --cor3: #1bb7ff;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: "Red Hat Display", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--branco);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/*--------- Header -----------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 100%;
    position: relative;
}

.logo{
    cursor: pointer;
    font-size: 2rem;
    color: var(--branco);
    margin: 1.3rem;
    transition: all 0.3s ease;
}

.logo:hover{
    transform: scale(1.01);
}

.nav-list{
    margin-right: 4rem;
    padding: 20px;
    transition: all 0.4s ease;
}

.nav-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list a{
    font-size: 1.1rem;
    margin-left: 4rem;
    color: var(--branco);
    padding: 10px;
    font-weight: 400;
    transition: 0.1s;
}

.ativo, nav a:hover{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, var(--cor1),var(--cor2),var(--cor3));
    border-bottom: 2px solid var(--borda);
}

/*--------- Header Mobile -----------*/

/* ==== Menu Mobile ==== */

/* Botão */
.btn-menu-mob{
    display: none;
    cursor: pointer;
    position: relative;
    padding: 1.5rem;
    z-index: 1000;
}

.btn-menu-mob div{
    background-color: var(--branco);
    height: 3px;
    margin: 10px 10px;
    transition: 0.2s ease;
}

.btn-menu-mob .line-menu-mob-1{
    width: 30px;
}

.btn-menu-mob .line-menu-mob-2{
    width: 20px;
}

.btn-menu-mob .line-menu-mob-1.ativo1{
    transform: rotate(45deg) translate(30%);
    z-index: 1000;
}

.btn-menu-mob .line-menu-mob-2.ativo2{
    width: 30px;
    transform: rotate(-45deg) translate(30%);
    z-index: 1000;
}

/* Links */
.menu-mobile{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #000000ef;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    z-index: 500;
}

.menu-mobile nav{
    width: 80%;
}

.menu-mobile nav a{
    display: block;
    font-size: 1.3rem;
    color: var(--branco);
    padding: 0.7rem 0;
    transition: 0.2s;
}

.menu-mobile a:hover{
    box-shadow: 0 0 20px var(--branco);
}

.menu-mobile.abrir{
    width: 100%;
    height: 100vh;
}

body.no-overflow{
    overflow: hidden;
}

