/*------------- Seção Projeos --------------*/
.project-header{
    text-align: center;
    margin: 2rem auto;
}

.proje-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 0;
}

.proje-titulo h1{
    padding: 1rem 0;
    font-size: 35px;
}

.proje-titulo i{
    color: var(--letra);
    font-size: 40px;
}

.proje-info{
    font-size: 20px;
    text-align: center;
}

.proje-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    gap: 20px;
}

.proje-card{
    width: 300px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--borda);
    background-color: var(--fundo);
}

.proje-image {
    border-radius: 5px;
    margin: 0.7rem;
    overflow: hidden;
    width: auto;
    height: 180px;
}

.proje-image img{
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.proje-image img:hover{
    transform: scale(1.05);
}

.proje-content{
    padding: 1rem;
    height: 120px;
}

.proje-content h3{
    font-size: 25px;
    color: var(--letra);
    margin-top: 0.25rem;
}

.proje-descricao{
    text-align: start;
    font-size: 18px;
    margin-top: 0.25rem;
}

.proje-tags{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.proje-tag {
    padding: 0.25rem 0.75rem;
    border-radius: 8%;
    font-size: 0.75rem;
    border: 1px solid var(--borda);
}

.proje-links{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.proje-links a{
    padding: 1.2rem;
    color: var(--branco);
    border-radius: 10px;
    border: 2px solid var(--borda);
}

.proje-links i{
    float: left;
    font-size: 20px;
    margin-right: 5px;
}

.proje-links .button-ext{
    background-color: var(--fundo2);
}


.proje-links a:hover,
.proje-links a:focus {
    transform: scale(1.05);
    transition: 0.3s ease;
}